parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '#hasParent is never read, only written#'
          paths:
              - src/Elements/Structure.php
        - message: '#Method ([a-zA-Z\\]+)::([a-zA-Z\(\)]+) should return ([a-zA-Z\\]+) but returns ([a-zA-Z\\\|]+)#'
          paths:
              - src/Factories/StructureFactory.php
        - '#Parameter \#1 \$class of static method Smpl\\Inspector\\Factories\\StructureFactory\:\:isValidClass\(\) expects class\-string, string given\.#'
        - '#Parameter \#1 \$type of method Smpl\\Inspector\\Contracts\\TypeFactory\:\:make\(\) expects ReflectionType\|string, ReflectionType\|null given\.#'
        - '#Cannot call method getDeclaringClass\(\) on ReflectionMethod\|string#'