parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '#hasParent is never read, only written#'
          paths:
              - src/Elements/Structure.php
        - message: '#Method ([a-zA-Z\\]+)::([a-zA-Z\(\)]+) should return ([a-zA-Z\\]+) but returns ([a-zA-Z\\\|]+)#'
          paths:
              - src/Factories/StructureFactory.php
        - '#Parameter \#1 \$typeName of method Smpl\\Inspector\\Factories\\TypeFactory\:\:createClassType\(\) expects class\-string, string given#'